<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/admin/admin_layout">

<head>
	<meta charset="UTF-8">
	<title>Cliente</title>
</head>

<body>
	<div layout:fragment="content">



		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Lista Cliente</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Simple Tables</li>
						</ol>
					</div>
				</div>
			</div><!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">
									<button type="button" class="btn btn-success "  data-toggle="modal" data-target="#modal-lg"><i class="fas fa-plus"></i>
										Agregar</button>

										<div th:replace="admin/customers/modalAgregar :: modalAgregar"></div>

								</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Ci</th>
											<th>Nombre</th>
											<th>Apellido</th>
											<th>Email</th>
											<th>Telefono</th>
											<th>Direccion</th>
											<th>Opciones</th>
										</tr>
									</thead>
									<div th:if="${customers != null and !customers.empty}">
									<tbody >
										<tr th:each="client : ${customers}">
											<td th:text="${client.getCi()}">--</td>
											<td th:text="${client.getfirstname()}">--</td>
											<td th:text="${client.getlastname()}">--</td>
											<td th:text="${client.getEmail()}">--</td>
											<td th:text="${client.gettelephone()}">--</td>
											<td th:text="${client.getaddress()}">--</td>
											<td>
												<div class="btn-group" role="group" aria-label="Basic example">
													<a th:href="@{edit/} + ${client.getCi()}"><button type="button" class="btn btn-primary">Editar</button></a>
                                  					<a th:href="@{delete/} + ${client.getCi()}"><button  type="button" class="btn btn-danger">Eliminar</button></a>
											   </div>
											</td>

										</tr>

									</tbody>
									</div>
								
								</table>
									<div th:if="${customers == null or customers.empty}">
									  La lista de clientes esta vacia
									</div>
							</div>
							<!-- /.card-body -->
							<div class="card-footer clearfix">
						
							</div>
						</div>
						<!-- /.card -->
					</div>
				</div>
			</div>

		</section>
		<!-- Main content -->


	</div>



</body>

</html>