<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/admin/admin_layout">
<head>
<meta charset="UTF-8">
<title>Usuarios</title>
</head>
<body>


	<div layout:fragment="content">

		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Administrar Usuarios</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Simple Tables</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<!-- TABLE: LATEST ORDERS -->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Lista de Usuarios</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool"
										data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
									<button type="button" class="btn btn-tool"
										data-card-widget="remove">
										<i class="fas fa-times"></i>
									</button>
								</div>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th scope="col">Usuario</th>
											<th scope="col">Estado</th>
											<th scope="col">Administrar <button type="submit" class="btn btn-primary float-right">Nuevo</button></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user : ${users}">
											<td th:text="${user.username}"></td>
											<td th:text="${user.enabled}"></td>
											<td>
												<a href="#" th:href="@{/contacts/contactsform?id=__${contact.id}__}">
													<button type="button" class="btn btn-info">
														<span class="glyphicon glyphicon-edit"></span>
													</button>
												</a>
					
												<a href="#" th:href="@{/contacts/removecontact?id=__${contact.id}__}">
													<button type="button" class="btn btn-danger">
														<span class="glyphicon glyphicon-trash"></span>
													</button>
												</a>
											</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th scope="col">Usuario</th>
											<th scope="col">Estado</th>
											<th scope="col">Administrar</th>
										</tr>
									</tfoot>
								</table>
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->
					</div>
					<div class="col-md-4">
						<!-- PRODUCT LIST -->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Crear / Editar Usuario</h3>

								<div class="card-tools">
									<button type="button" class="btn btn-tool"
										data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
									<button type="button" class="btn btn-tool"
										data-card-widget="remove">
										<i class="fas fa-times"></i>
									</button>
								</div>
							</div>
							<!-- /.card-header -->
							<form>
				                <div class="card-body">
				                  <div class="form-group">
				                    <label for="exampleInputEmail1">Usuario</label>
				                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el usuario">
				                  </div>
				                  <div class="form-group">
				                    <label for="exampleInputPassword1">Contraseña</label>
				                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese la contraseña">
				                  </div>
				                  <div class="form-group">
			                        <label>Rol del Usuario</label>
			                        <select class="form-control">
			                          <option>Invitado</option>
			                          <option>Staff</option>
			                          <option>Supervisor</option>
			                          <option>Administrador</option>
			                        </select>
			                      </div>
				                  <div class="form-group">
				                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
				                      <input type="checkbox" class="custom-control-input" id="customSwitch3">
				                      <label class="custom-control-label" for="customSwitch3">Estado de usuario (Habilitado / Deshabilitado)</label>
				                    </div>
				                  </div>
				                </div>
				                <!-- /.card-body -->
				
				                <div class="card-footer">
				                  <button type="submit" class="btn btn-warning">Limpiar</button>
				                  <button type="submit" class="btn btn-success float-right">Guardar</button>
				                </div>
				              </form>
							<!-- /.card-footer -->
						</div>
						<!-- /.card -->
					</div>
				</div>
			</div>

		</section>
		<!-- Main content -->


	</div>


	<th:block layout:fragment="script">
		<!-- jQuery -->
		<script src="/admin/plugins/jquery/jquery.min.js"></script>
		<script>
			$(function () {
			    $("#example1").DataTable({
			      "responsive": true, 
			      "lengthChange": false, 
			      "autoWidth": false,
			      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
			    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
			  });
			
			console.log("Pagina de Usuarios");
			var user = {};

			$(document).ready(function() {
				

								/** TODO: Function OnClick **/

								/** TODO: Function **/

								/** TODO: OnLoad **/
								user.findAll = function() {

									$
											.ajax({
												url : "http://localhost:1111/api/v1/user",
												type : "GET",
												beforeSend : function(xhr) {
													xhr.setRequestHeader(
															"Accept",
															"application/json");
													xhr.setRequestHeader(
															"Content-Type",
															"application/json");
												},
												success : function(data) {
													console.log(data);
													var event_data = '';
													$.each(data.user, function(
															index, value) {
														/*console.log(value);*/
														event_data += '<tr>';
														event_data += '<td>'
																+ value.name
																+ '</td>';
														event_data += '<td>'
																+ value.id
																+ '</td>';
														event_data += '</tr>';
													});
													$("#list_table_json")
															.append(event_data);

												},
												error : function(jqXHR,
														textStatus, errorThrown) {
													var responseText = jQuery
															.parseJSON(jqXHR.responseText);
													console.log(responseText);
													console.log('Error: '
															+ textStatus
															+ ' - '
															+ errorThrown);
												}
											});

								};

								user.findAll();

							});
		</script>
	</th:block>

</body>
</html>
