<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/admin/admin_layout">

<head>
	<meta charset="UTF-8">
	<title>Botones</title>
</head>

<body>

 	  
            <div class="modal fade" th:fragment="modalAgregar" id="modal-lg">
                 <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-dark text-white">
                            <h5 class="modal-title">Agregar Cliente</h5>
                            <button class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
               
                        <form th:action="@{/addCustomer}" th:object="${customer}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="ci" >Ci</label>
                                    <input type="number" class="form-control" name="ci" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="firstname" >Nombre</label>
                                    <input type="text" class="form-control" name="firstname"  required="true">
                                </div>
                                <div class="form-group">
                                    <label for="lastname" >Apellido</label>
                                    <input type="text" class="form-control" name="lastname"  required="true">
                                </div>
                                <div class="form-group">
                                    <label for="email" >Email</label>
                                    <input type="email" class="form-control" name="email"  required="true">
                                </div>
                                <div class="form-group">
                                    <label for="telephone">Teléfono</label>
                                    <input type="tel" class="form-control" name="telephone">
                                </div>
                                  <div class="form-group">
                                    <label for="address" >Direccion</label>
                                    <input type="text" class="form-control" name="address" required="true">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" >Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
      <!-- /.modal -->
            


</body>

</html>