<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contactos</title>
<!-- JQuery JavaScript -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel='stylesheet'
	href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
<link rel='stylesheet' href="#" th:href="@{/css/style.css}"
	media="screen" type="text/css" />
</head>
<body>
	<div class="container">
		<h2>Hola, <span th:text="${username}"></span>!</h2>
		<br>
		<hr>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Lastname</th>
						<th scope="col">Telephone</th>
						<th scope="col">City</th>
						<th scope="col">Management</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contact : ${contacts}">
						<td th:text="${contact.firstname}"></td>
						<td th:text="${contact.lastname}"></td>
						<td th:text="${contact.telephone}"></td>
						<td th:text="${contact.city}"></td>
						<td>
							<a href="#" th:href="@{/contacts/contactsform?id=__${contact.id}__}">
								<button type="button" class="btn btn-info">
									<span class="glyphicon glyphicon-edit"></span>
								</button>
							</a>

							<a href="#" th:href="@{/contacts/removecontact?id=__${contact.id}__}">
								<button type="button" class="btn btn-danger">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:if="${result == 1}" class="alert alert-success" role="alert">Contacto
			agregado!</div>
		<div th:if="${result == 0}" class="alert alert-danger" role="alert">Contacto
			NO agregado!</div>

		<a href="#" th:href="@{/contacts/contactsform?id=0}">
			<button class="btn btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-user-plus" aria-hidden="true"></span>
				Agregar Contacto
			</button>
		</a> 
		
		<a href="#" th:href="@{/rest/checkrest}">Rest Request!
		</a> 
		
		<form th:action="@{/logout}" method="POST">

			<button class="btn btn-primary btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Log out
			</button>
		</form>
		
	</div>
</body>
</html>