<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Acceso</title>
		<!-- JQuery JavaScript -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
		<link rel='stylesheet' href="#" th:href="@{/css/style.css}" media="screen" type="text/css" />
	</head>
	<body>
		<div class="container">
			<form class="form-signin" th:action="@{/logincheck}" method="POST">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
				<h1>Acceso!! <img th:src="@{/imgs/candado.png}"/></h1>
				<br>
				<label for="inputMail" class="sr-only">Username</label>
				<input type="text" class="form-control" placeholder="Username" name="username" id="username"/> 
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" class="form-control" placeholder="Password" name="password" id="password"/>
				<div th:if="${error != null}" class="alert alert-danger" role="alert">Invalid Username or Password</div>
				<div th:if="${logout != null}" class="alert alert-info" role="alert">Logout Successfully</div>
				<button class="btn btn-ld btn-primary btn-blck" type="submit">
					<span class="glyphicon glyphicon-log-in aria-hidden="true></span> Sign in
				</button>
			</form>
	
			<div class="login-help">
				<a href="#">Forgot Password</a>
			</div>
		</div>
	</body>
</html>